# kubectl
alias kc='kubectl'
alias kcg='kubectl get'
alias kcgn='kubectl get --namespace'
alias kcd='kubectl describe'
alias kcdn='kubectl describe --namespace'
alias kcdl='kubectl delete'
alias kcdln='kubectl delete --namespace'
alias kcdlp='kubectl-delete-pod'
alias kcgno='kubectl get nodes'
alias kcgp='kubectl get pods'
alias kcgpn='kubectl get pods --namespace'
alias kcgpp='kubectl get pods --all-namespaces'
alias kcgd='kubectl get deployments'
alias kcgdn='kubectl get deployments --namespace'
alias kcgdd='kubectl get deployments --all-namespaces'
alias kcgs='kubectl get services'
alias kcgsn='kubectl get services --namespace'
alias kcgss='kubectl get services --all-namespaces'
alias kcgi='kubectl get ingresses'
alias kcgin='kubectl get ingresses --namespace'
alias kcgii='kubectl get ingresses --all-namespaces'
alias kcgc='kubectl get configmaps'
alias kcgcn='kubectl get configmaps --namespace'
alias kcgcc='kubectl get configmaps --all-namespaces'
alias kcgv='kubectl get virtualservices'
alias kcgvn='kubectl get virtualservices --namespace'
alias kcgvv='kubectl get virtualservices --all-namespaces'
alias kcgdr='kubectl get destinationrules'
alias kcgdrn='kubectl get destinationrules --namespace'
alias kcgdrr='kubectl get destinationrules --all-namespaces'
alias kcgg='kubectl get gateways'
alias kcggn='kubectl get gateways --namespace'
alias kcggg='kubectl get gateways --all-namespaces'
alias kcgse='kubectl get serviceentries'
alias kcgsen='kubectl get serviceentries --namespace'
alias kcgsee='kubectl get serviceentries --all-namespaces'
alias kcgr='kubectl get routerules'
alias kcgrn='kubectl get routerules --namespace'
alias kcgrr='kubectl get routerules --all-namespaces'
alias kcgdp='kubectl get destinationpolicies'
alias kcgdpn='kubectl get destinationpolicies --namespace'
alias kcgdpp='kubectl get destinationpolicies --all-namespaces'
alias kcge='kubectl get events --sort-by=".lastTimestamp" --all-namespaces --watch'
alias kcc='kubectl create'
alias kccn='kubectl create --namespace'
alias kca='kubectl apply -f'
alias kcan='kubectl apply -f --namespace'
alias kce='kubectl exec -t -i'
alias kcen='kubectl exec -t -i --namespace'
alias kcl='kubectl logs -f'
alias kcll='kubectl-logs'
alias kcln='kubectl logs -f --namespace'
alias kcgx='kubectl config get-contexts'
alias kcux='kubectl config use-context'
alias kcxsn='kubectl config set-context $(kubectl config current-context) --namespace'
alias kcpf='kubectl port-forward'

# istio
alias ic='istioctl'
alias icg='istioctl get'
alias icc='istioctl create -f'
alias icr='istioctl replace -f'
alias icdl='istioctl delete'
alias icij='istioctl kube-inject -f'

# ibmcloud
# ib -> ibmcloud
# ik -> ibmcloud kubernetes (cs)
# ir -> ibmcloud container registry (cr)
alias ib='ibmcloud'
alias ibl='ibmcloud login'
alias ibls='ibmcloud login --sso'
alias ik='ibmcloud cs'
alias ikc='ibmcloud cs cluster'
alias ikgc='ibmcloud cs clusters'
alias ikac='ibmcloud-add-cluster'
alias ikdlc='ibmcloud cs cluster-rm'
alias ikgw='ibmcloud cs workers'
alias ikgr='ibmcloud cs region'
alias iksr='ibmcloud cs region-set'
alias ir='ibmcloud cr'
alias irl='ibmcloud cr login'
alias irgi='ibmcloud cr images'

# scripts
alias ikin='ibmcloud-install-nginx'
alias ikii='ibmcloud-install-istio'
alias kcpfg='kubectl-port-forward-grafana'
alias kcpfj='kubectl-port-forward-jaeger'
alias kcpfk='kubectl-port-forward-kiali'
alias kcpfp='kubectl-port-forward-prometheus'
alias kcpfz='kubectl-port-forward-zipkin'
alias kcdldr='kubectl-delete-default-resources'
alias kcii='kubectl-ingress-ip-address'
alias kcni='kubectl-nginx-ip-address'
alias kcigip='kubectl-istio-gateway-ip-address'
alias kcignp='kubectl-istio-gateway-http-nodeport'
